body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
}

h1 {
    text-align: center;
    color: #eee;
    font-size: 28px;
    margin: 30px;
    padding: 30px;
}

h2 {
    text-align: center;
    font-size: 24px;
}

.container {
    margin: 0 auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mainBio {
    float: left;
    text-align: center;
    width: 500px;
    border: 2px dotted;
    margin: 5px;
    padding: 20px;
}

#contactInfo {
    float: right;
    text-align: center;
    width: 500px;
    border: 2px dotted;
    line-height: 1.5;
    margin: 5px;
    padding: 20px;
}

a {
    color: #d21034;
    text-decoration: none;
}

ul {
    list-style-type: none;
}